.header {
	display: inline-block;
	width: 100%;
  height: 65px;
  line-height: 65px;
  font-size: 2rem;
  margin-bottom: 0.75rem;
  color: white;
  background-color: rgb(43, 106, 145)
}

.header > #navigation{
  top: 0;
  left: 0;
  margin: 0 1rem;
}
.header > p {
  font-size: 0.8rem;
}

.logo {
	float: left;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.navLink {
  color: inherit;
  text-decoration: inherit;
}

@-webkit-keyframes slidein {
	from {
		right: -15rem;
	}
	to {
		right: 0rem;
	}
}

@keyframes slidein {
	from {
		right: -15rem;
	}
	to {
		right: 0rem;
	}
}

@media (max-width : 554px){
		#navigation.menu {
		display: block;
		text-align: right;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		list-style-type: none;
		height: 100vh;
		padding-top: 1rem;
		padding-right: 1rem;
		font-size: 2rem;
		width: 12rem;
		-webkit-animation: slidein 0.5s 1;
		animation: slidein 0.5s 1;
		right: 0rem;
		top: 4.05rem;
	}

	#navigation.menu li {
		margin-bottom: 1rem;
	}

	#navigation.menu li  a{
		position: relative;
		text-align: center;
	}
	#navigation {
		display: none;
		z-index: 150;
	}
	/* http://codepen.io/stevenfabre/pen/LGvzk */
	#hamburger-icon {
		width: 40px;
		height: 20px;
		position: relative;
		display: block;
		padding-right: 1rem;
		margin-top: 1.2rem;
	}
	#hamburger-icon .line {
		display: block;
		background: #ecf0f1;
		width: 40px;
		height: 4px;
		position: absolute;
		left: 0;
		border-radius: 4px;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
	}
	#hamburger-icon .line.line-1 {
		top: 0;
	}
	#hamburger-icon .line.line-2 {
		top: 50%;
	}
	#hamburger-icon .line.line-3 {
		top: 100%;
	}
	#hamburger-icon.active .line-1 {
		-ms-transform: translateY(10px) translateX(0) rotate(45deg);
		    transform: translateY(10px) translateX(0) rotate(45deg);
		-webkit-transform: translateY(10px) translateX(0) rotate(45deg);
		-moz-transform: translateY(10px) translateX(0) rotate(45deg);
	}
	#hamburger-icon.active .line-2 {
		opacity: 0;
	}
	#hamburger-icon.active .line-3 {
		-ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
		    transform: translateY(-10px) translateX(0) rotate(-45deg);
		-webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
		-moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
	}


}
@media (min-width: 555px){
	#navigation {
		z-index: 150;
		list-style: none;
		font-size: 1rem;
	}

	#navigation li {
		display: inline;
		margin-right: 0.75rem;
	}

	#navigation.menu {

	}
	#navigation.menu li{

	}
	#hamburger-icon {
		display: none;
	}
}