@media (max-width : 780px){
	#main-content{
		width: 85%
	}
	.item-cell {
		width: 100%;
	}
}
@media (max-width: 915px) and (min-width: 781px){
	#main-content{
		max-width: 615px;
	}
	.item-cell {
		width: 50%;
	}
}
@media (max-width: 1200px) and (min-width: 916px){
	#main-content{
		max-width: 1200px;
	}
	.item-cell {
		width: 33%;
	}
}
@media (min-width: 1201px){
	#main-content{
		max-width: 1290px;
	}
	.item-cell {
		width: 25%;
	}
}